@keyframes katexDemo {
  0% { content: "$$ $$"; }
  1% { content: "$$\\$$"; }
  2% { content: "$$\\s$$"; }
  3% { content: "$$\\su$$"; }
  4% { content: "$$\\sum$$"; }
  5% { content: "$$\\sum^$$"; }
  6% { content: "$$\\sum^n$$"; }
  7% { content: "$$\\sum^n_$$"; }
  8% { content: "$$\\sum^n_{}$$"; }
  9% { content: "$$\\sum^n_{k}$$"; }
  10% { content: "$$\\sum^n_{k=}$$"; }
  11% { content: "$$\\sum^n_{k=1}$$"; }
  12% { content: "$$\\sum^n_{k=1}$$"; }
  13% { content: "$$\\sum^n_{k=1} $$"; }
  14% { content: "$$\\sum^n_{k=1} k$$"; }
  15% { content: "$$\\sum^n_{k=1} k $$"; }
  16% { content: "$$\\sum^n_{k=1} k=$$"; }
  17% { content: "$$\\sum^n_{k=1} k=\\f$$"; }
  18% { content: "$$\\sum^n_{k=1} k=\\fr$$"; }
  19% { content: "$$\\sum^n_{k=1} k=\\fra$$"; }
  20% { content: "$$\\sum^n_{k=1} k=\\frac$$"; }
  21% { content: "$$\\sum^n_{k=1} k=\\frac$$"; }
  22% { content: "$$\\sum^n_{k=1} k=\\frac$$"; }
  23% { content: "$$\\sum^n_{k=1} k=\\frac{}$$"; }
  24% { content: "$$\\sum^n_{k=1} k=\\frac{}$$"; }
  25% { content: "$$\\sum^n_{k=1} k=\\frac{}{}$$"; }
  26% { content: "$$\\sum^n_{k=1} k=\\frac{}{}$$"; }
  27% { content: "$$\\sum^n_{k=1} k=\\frac{n}{}$$"; }
  28% { content: "$$\\sum^n_{k=1} k=\\frac{n}{2}$$"; }
  29% { content: "$$\\sum^n_{k=1} k=\\frac{n()}{2}$$"; }
  30% { content: "$$\\sum^n_{k=1} k=\\frac{n(n)}{2}$$"; }
  31% { content: "$$\\sum^n_{k=1} k=\\frac{n(n+)}{2}$$"; }
  32% { content: "$$\\sum^n_{k=1} k=\\frac{n(n+1)}{2}$$"; }
  100% { content: "$$\\sum^n_{k=1} k=\\frac{n(n+1)}{2}$$"; }
}

@keyframes test {
  0% { content: "test"; }
  1% {content: "cest cool";}
  100% {content: "je sais pas";}
}

.animateKatex::after {
  animation: katexDemo 12s linear infinite;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @layer components {  
    .button {
      @apply py-2 px-6 bg-main-100 text-white font-semibold rounded disabled:bg-gray-400 
      flex justify-center items-center gap-1
    }
  
    .button-small {
      @apply py-1 px-3 bg-main-100 text-white text-sm font-semibold rounded disabled:bg-gray-400
      flex justify-center items-center gap-0.5
    }
  
    .input {
      @apply w-full py-1 px-2 rounded-md focus-within:outline-2 
      focus-within:outline-main-100 resize-y bg-main-100/10
    }

    .link {
      @apply underline text-gray-700 cursor-pointer
    }

    .checkbox {
      @apply w-4 h-4 accent-main-100
    }

    .responsiveLayout {
      @apply py-4 w-clamp-xl mx-auto flex flex-col gap-4
    }
  }  
}